<!-- sorry i Can't Get The number of Pages from API so i did it for example -->
<div class="container">
  <div class="row">
  <div class="col-3"></div>
  <div class="col-6">
     <nav aria-label="...">
       <ul class="pagination justify-content-center">

         <li class="page-link" (click)="currentPage===1?currentPage:currentPage=currentPage-1 ; changePage()"
           style="cursor: pointer;">
           <i class="fas fa-long-arrow-alt-left"></i>
         </li>

         <li *ngFor="let page of [1,2,3,4,5,6,7,8,9,10]" class="page-link" (click)="currentPage = page ; changePage()"
           [ngClass]="(page === currentPage)? 'active' : '' " style="cursor: pointer;">
           {{ page }}

         </li>

         <li class="page-link " (click)="currentPage>=10-1?currentPage:currentPage=currentPage+1 ; changePage()"
           style="cursor: pointer;">
           <i class="fas fa-long-arrow-alt-right"></i>
         </li>

       </ul>

     </nav>
  </div>
  <div class="col-3"></div>
</div>
</div>

<div class="container my-4">
  <div class="row">
    <div class="col-12" *ngFor='let repo of repos'>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-2 repo-avatar">
            <img class="img-fluid avatar" [src]="repo.owner.avatar_url" >
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h2 class="card-title">{{repo.name}}</h2>
              <p class="card-text">{{repo.description}}</p>
              <span class="badge rounded-pill bg-dark m-2 p-2">Stars : {{repo.stargazers_count | number:'2.'}}</span>
              <span class="badge rounded-pill bg-dark m-2 p-2">Issues : {{repo.open_issues_count}}</span>
              <span class="m-2 p-2">Submitted {{calcDate(repo.created_at)}} days ago by {{repo.owner.login}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
  <div class="col-3"></div>
  <div class="col-6">
     <nav aria-label="...">
       <ul class="pagination justify-content-center">

         <li class="page-link" (click)="currentPage===1?currentPage:currentPage=currentPage-1 ; changePage()"
           style="cursor: pointer;">
           <i class="fas fa-long-arrow-alt-left"></i>
         </li>

         <li *ngFor="let page of [1,2,3,4,5,6,7,8,9,10]" class="page-link" (click)="currentPage = page ; changePage()"
           [ngClass]="(page === currentPage)? 'active' : '' " style="cursor: pointer;">
           {{ page }}

         </li>

         <li class="page-link " (click)="currentPage>=10-1?currentPage:currentPage=currentPage+1 ; changePage()"
           style="cursor: pointer;">
           <i class="fas fa-long-arrow-alt-right"></i>
         </li>

       </ul>

     </nav>
  </div>
  <div class="col-3"></div>
</div>

</div>
